* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column-reverse;

  @media screen and (min-width: 600px) {
    flex-direction: row;
  }
}

.app-section {
  width: 100%;
}

.app-section--padded {
  background-color: rgba(198, 222, 245, 0.2);
  padding: 0 30px 40px;

  @media screen and (min-width: 1000px) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.app-section--narrow {
  width: 100%;
  padding: 25px;

  @media screen and (min-width: 600px) {
    width: 650px;
    border-left: 1px solid #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
    animation: slide-in 0.35s ease forwards;
  }

  @media screen and (min-width: 1000px) {
    width: 500px;
    padding: 30px;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.app-heading {
  padding-top: 40px;
  padding-bottom: 25px;
}

.app-heading h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;

  @media screen and (min-width: 600px) {
    font-size: 32px;
  }
}

.error-section,
.loading-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
