* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.heading {
  font-size: 24px;
  font-weight: bold;
}

.app-container {
  padding: 30px;

  @media only screen and (min-width: 600px) {
    padding: 20px 60px;
  }

  @media only screen and (min-width: 1200px) {
    padding: 20px 90px;
  }
}

.app-section {
  padding: 5px 0 50px;
}

.tab-container {
  margin: 30px 0;
}
