* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.heading {
  font-size: 20px;
  font-weight: bold;

  @media screen and (min-width: 600px) {
    font-size: 32px;
  }
}

.app-container {
  padding: 30px;

  @media screen and (min-width: 600px) {
    padding: 20px 40px;
  }

  @media screen and (min-width: 1200px) {
    padding: 20px 70px;
  }
}

.app-section {
  padding: 5px 0 50px;
}

.tab-container {
  margin: 30px 0;
}
