.heart-icon {
  position: absolute;
  right: 2px;
  top: 360px;
  padding-right: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: rgb(111, 110, 116);

  @media screen and (min-width: 600px) {
    top: 220px;
  }

  @media screen and (min-width: 1000px) {
    top: 282px;
  }
}

.heart-icon svg {
  width: 20px;
  height: 20px;
}

.fluid-btn {
  display: block;
  margin: 15px 0;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border-width: 1px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
}
